/* *** Variables *** */
/* University Colors */
:root {
  /*colors*/
  --navy: #242F60;
  --sky-blue: #93c9de;
  --lime: #CAD401;
  --gray: #DDDDDD;
  --green: #378137;
  --orange: #F2A53F;
  --red: #E00000;
  --white: #ffffff;
  --light-gray: #fcfcfc;
  --dark-gray: #495087;
  /* University theme colours */
  --ink: #212529;
  --primary: var(--navy);
  --primary-hover: #1A2144;
  --primary-alt: var(--lime);
  --primary-alt-hover: #A6AE01;
  --secondary: var(--gray);
  --secondary-hover: #CACACA;
  --info: var(--sky-blue);
  --info-hover: #76BAD5;
  --success: var(--green);
  --success-hover: #2C662C;
  --warning: var(--orange);
  --warning-hover: #F0941B;
  --danger: var(--red);
  --danger-hover: #BA0000;
  --background: var(--light-gray);
  --trout: var(--dark-gray);
  --white-hover: #b3b3b3;
}

.navbar > .container, .navbar > .container-fluid {
  justify-content: flex-start;
}

/* *** General CSS *** */
header {
  position: relative;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/130875-blue-polygon-background.jpg");
  background-size: cover;
  filter: opacity(0.85);
}
header .header-content {
  position: relative;
}
header .social {
  margin-top: 1rem;
}
header .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: #ffffffe6;
  box-shadow: 6px 4px 8px 0 #0006;
  border-radius: 100%;
  line-height: 3rem;
  color: #495087;
}
header .social a:hover {
  color: #212529;
  background: white;
  box-shadow: none;
  transition: all 0.3s;
}

main .title {
  text-align: center;
}
main h2, main h3 {
  font-weight: 700;
}
main .card {
  padding: 1rem;
  text-align: center;
  border: none;
}
main #documents .card-row {
  max-width: 600px;
}
@media (min-width: 1200px) {
  main #documents .card-row {
    max-width: 900px;
  }
}
main #documents .card-row .col {
  max-width: 300px;
}
main #documents .card-row .col a {
  text-decoration: none;
}
main #documents .card-row .col:nth-child(1) .card {
  background: #d6eaf8;
  color: #1b4f72;
}
main #documents .card-row .col:nth-child(1) .card:hover {
  background: linear-gradient(35deg, #d6eaf8, #aed6f1);
}
main #documents .card-row .col:nth-child(2) .card {
  background: #fcf3cf;
  color: #7d6608;
}
main #documents .card-row .col:nth-child(2) .card:hover {
  background: linear-gradient(35deg, #fcf3cf, #f9e79f);
}
main #documents .card-row .col:nth-child(3) .card {
  background: #f6ddcc;
  color: #6e2c00;
}
main #documents .card-row .col:nth-child(3) .card:hover {
  background: linear-gradient(35deg, #f6ddcc, #edbb99);
}
main #documents .card-row .col:nth-child(4) .card {
  background: #ebdef0;
  color: #512e5f;
}
main #documents .card-row .col:nth-child(4) .card:hover {
  background: linear-gradient(35deg, #ebdef0, #d7bde2);
}
main #documents .card-row .col:nth-child(5) .card {
  background: #d5f5e3;
  color: #186a3b;
}
main #documents .card-row .col:nth-child(5) .card:hover {
  background: linear-gradient(35deg, #d5f5e3, #abebc6);
}
main #projects {
  color: #ffffff;
  background: linear-gradient(100deg, #210047, #242F60, #020758);
}
main #projects .card {
  color: #212529;
}
main #projects .card .btn {
  width: 160px;
  margin: 0.2rem auto;
  font-weight: 700;
}
main #projects .card .btn.status {
  color: #ffffff;
}
main #projects .card .btn.status.released {
  background: #378137;
}
main #projects .card .btn.status.released:hover {
  background: linear-gradient(100deg, #439D43, #70C270);
}
main #projects .card .btn.status.demo {
  background: #242F60;
}
main #projects .card .btn.status.demo:hover {
  background: linear-gradient(100deg, #3E50A3, #4E62BC);
}
main #projects .card .btn.status.development {
  background: #F2A53F;
}
main #projects .card .btn.repo {
  background: #24292e;
  color: #ffffff;
}
main #projects .card .btn.repo:hover {
  background: linear-gradient(100deg, #495087, #242F60);
}
main #approach {
  color: #ffffff;
  background: linear-gradient(100deg, #0e182a, #210047);
}

.hidden {
  display: none;
}

/* *** FOOTER *** */
footer {
  background-color: #ffffff;
  padding-bottom: 0;
  /* Main Footer */
}
footer .links {
  margin: 0;
  padding: 60px 0;
  height: auto;
  background-color: #242F60;
  background-image: url("../images/waves-bg.svg");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 5% 15%;
  color: #ffffff;
  text-align: left;
  position: relative;
}
footer .links .inner {
  margin: 0 auto;
  position: relative;
}
footer .links ul {
  margin: 0;
  display: block;
}
footer .links ul li {
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 0;
  background: none;
}
footer .links ul li a {
  color: #ffffff;
  transition: 0.2s;
  position: relative;
  top: 0;
}
footer .links ul li a:hover {
  text-decoration: none;
  top: -2px;
  /*color: #b3b3b3;*/
  color: var(--white-hover);
}
footer .links ul li a:visited {
  color: #ffffff;
}
footer .links .footer-links-list, footer .links .footer-info-list {
  margin-bottom: 20px;
}
footer .links .footer-links-list li::after, footer .links .footer-info-list li::after {
  content: "|";
  margin-left: 5px;
}
footer .links .footer-links-list li:last-child::after, footer .links .footer-info-list li:last-child::after {
  display: none;
}
footer .links::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 1px;
  display: block;
}
footer .logos {
  padding: 20px 0;
  background-color: #ffffff;
}
footer .logos .col {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
footer .logos .col img {
  /*float: right;*/
  max-width: 160px;
}
footer .logos .col img.erdf {
  margin-left: 48px;
}

/*# sourceMappingURL=lilw-custom.css.map */
