$white: #fff;
$white-hover: #b3b3b3;
$navy: #242F60;
$lime: #CAD401;

footer {
  background-color: $white;
  padding: 0;

  .main {
    padding: 60px 0;
    background-color: $navy;
    background-image: url('./images/waves-bg.svg');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 5% 15%;
    color: $white;

    ul {
      margin-bottom: 20px;

      li {
        display: inline-block;

        a {
          color: $white;
          transition: .2s;
          position: relative;

          &:hover {
            text-decoration: none;
            top: -2px;
            color: $white-hover;
          }

          &:visited {
            color: $white;
          }
        }

        &::after {
          content: "|";
          margin: 0 5px;
        }

        &:last-child::after {
          display: none;
        }
      }
    }
  }

  .logos {
    background-color: $white;

    .row {
      padding: 20px 0;

      .col {
        text-align: center;

        img {
          max-width: 160px;

          &.erdf {
            margin-left: 50px;
          }
        }
      }
    }
  }
}